<!DOCTYPE html>
<html lang="pt-br">
    <head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="author" content="Gianluca Vialli">

        <title>@ViewData["Title"] - HSF_Receituario</title>

        <link rel="shortcut icon" href="~/icons/logo-hospital.bmp"
            type="image/x-icon" asp-append-version="true" />

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"
            asp-append-version="true" />

        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"
            />

        <link rel="stylesheet" href="~/css/navbarStyle.css"
            asp-append-version="true" />

        <link rel="stylesheet" href="~/css/indexStyle.css"
            asp-append-version="true" />

        <link rel="stylesheet" href="~/css/receita.css"
            asp-append-version="true" />

        <link rel="stylesheet" href="~/css/medicamento.css"
            asp-append-version="true" />

        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
            asp-append-version="true" />

    </head>

    <body>
        <header>

            <nav class="navbar navbar-expand-sm navbar-toggleable-sm
                border-bottom box-shadow mb-2 logo">

                <div class="line1"></div>

                <div class="div-logo">

                    <a asp-action="Index" asp-controller="Home">
                        <img src="../images/logotipo-hospital-sao-francisco.png"
                            alt="Logo Hospital São francisco">
                    </a>

                    <div class="logotipo">


                        <a class="text-logo" asp-controller="Home"
                            asp-action="Index"> <img class="logo-image"
                                src="../icons/caduceu.png" alt=""> HSF -
                            Receituário </a>

                    </div>

                </div>

            </nav>

        </header>

        <main role="main">

        @RenderBody()

        </main>

        <footer class=" contact container-fluid border-top bg-ligth bg-primary
            footer">

            <a class="col-md-12"
                href='https://www.google.com/maps/place/Hospital+S%C3%A3o+Francisco/-18.1995892,-45.2454996,14z/data=!4m6!3m5!1s0xa696124967edf5:0x49e73d2a971ee004!8m2!3d-19.9487189!4d-44.0083423!16s%2Fg%2F11kbfsnwgt'>
                &copy; 2023 - HSF Receituário - BR 040 - km 438 Brasília/BH,
                S/N
                - Bairro: Parque Diadorim - Três Marias - MG - 39205-000
            </a>

            <a href="tel:3837541256"> <span
                    class="material-symbols-outlined"> phone_in_talk </span>
                (38) 3754-1256 </a>

            <a href="mailto:contato@fstm.org.br"> <span
                    class="material-symbols-outlined"> send </span>
                contato@fstm.org.br </a>


        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
            asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/AddMedication.js" asp-append-version="true"></script>
        <script src="~/js/EditPrescription.js" asp-append-version="true"></script>
        <script src="~/js/AddPrescription.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    </body>

</html>
