@model List<Medicacao>
@using Hsf_Receitas.Services;

@{
    ViewData["title"] = "Listagem de medicamentos";
}


<!--if(medic.VizualizarMedicacao().Count() > 0)
{
    <table class="table table-responsive table-bordered table-sm table-striped table-light table-hover table-medicament" id="medic-list">

        <thead class="bg-primary text-light"> 

            <tr> 
                                    
                <th>Id</th> 
                <th>Nome da Medicação</th> 
                <th>Dosagem</th> 
                <th>Tipo de Uso</th> 
                                
            <tr>

        </thead> 

        <tbody> 

            foreach (var item in medic.VizualizarMedicacao())
            {
                <tr>

                    <td class="text-center">item.Id.ToString("D4")</td>

                    <td class="text-center">item.MedicationName</td>

                    <td>item.MedicationDosage</td>

                     <td>item.MedicationMethodUse</td>

                </tr>
            }

        </tbody>
                            
    </table>
    
}else {
    <div class="alert alert-warning w-100 alert-TA" role="alert">
        Nenhuma medicação adicionada !
    </div>
}-->

