@model Receituario;
@using Hsf_Receitas.Models;
@using Hsf_Receitas.Data;

@{
    ViewData["title"] = "Completar Receituário";

    Medicacao medic = new Medicacao();
    HSFContext database = new HSFContext();

    List<Medicacao> medicList = database.Medicamentos.Where(m => m.ReceituarioId ==
    Model.Id).ToList();
}

<div class="prescription">

    <div class="card">

        <div class="card-header text-light">

            <h1 class="text-center">Receituário</h1>

        </div>

        <div class="card-body">

            <div class="receita">

                <form id="up-receita-form" class="prescription-form">

                    <span class="mt-3 mb-3" id="alerta"></span>

                    <div class="card medicine-card">

                        <h5 class="card-header">Informações básicas :</h5>

                        <div class="card-body">

                            <input id="up-prescriptionId" class="form-control mb-3"
                                type="hidden" asp-for="Id" disabled>

                            <label for="">Nome do Paciente: </label>
                            <input type="text" id="up-pacientName" class="form-control
                                mb-3"
                                asp-for="PacientName" required>

                            <label for="">Nome do Médico: </label>
                            <input type="text" id="up-doctorName" class="form-control
                                mb-3"
                                asp-for="DoctorName" required>

                            <label for="">Data da consulta: </label>
                            <input type="date" id="up-dataAppoiment" class="form-control
                                mb-3"
                                asp-for="DateOfMedicalAppoiment" required>

                        </div>

                    </div>

                    <div class="card medicine-card">

                        <h5 class="card-header">Medicações :</h5>

                        <div class="card-body">

                            <p class="text-info ml-3">Agora você pode adicionar medicamentos!</p>

                            <div class="col-md-12 mt-3">
                                @await Html.PartialAsync("/Views/Medicacao/_ListaDeMedicacao.cshtml", @medicList)
                            </div>

                            <button type="button" data-toggle="modal"
                                data-target="#medication-modal-@Model.Id"
                                title="Inserir medicamentos à receita"
                                onclick=" inserirRemedios()" class="btn
                                btn-md btn-info btn-printer ml-3"> <span
                                    class="material-symbols-outlined"> syringe
                                </span> Adicionar Medicamentos</button>

                        </div>

                    </div>

                    <button class="btn btn-md btn-secondary btn-printer" href=""><span class="material-symbols-outlined"> print </span> Imprimir </button>

                </form>

            </div>
        </div>

    </div>


</div>

<!--Start Medication Modal-->

<div class="modal fade" id="medication-modal-@Model.Id" tabindex="-1"
    role="dialog"
    aria-labelledby="registerUserTitle" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">

            <div class="modal-header text-center">

                <h2 class="text-center mb-0"> Inserir Medicamento</h2>

                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">

                    <span aria-hidden="true">&times;</span>

                </button>

            </div>

            <div class="modal-body p-0">
                @await Html.PartialAsync("/Views/Medicacao/_MedicationRegister.cshtml", @medic)
            </div>

        </div>

    </div>

</div>

<!--Finish Medication Modal-->