@model Receituario;
@using Hsf_Receitas.Models;
@using Hsf_Receitas.Data;

@{
    ViewData["title"] = "Gerar Receituário";
}

<div class="prescription">

    <div class="card">

        <div class="card-header text-light">

            <h1 class="text-center">Receituário</h1>

        </div>

        <div class="card-body">

            <div class="receita">

                <form id="receita-form" class="prescription-form">

                    <span class="mt-3 mb-3" id="danger"></span>

                    <div class="card medicine-card">

                        <h5 class="card-header">Informações básicas :</h5>

                        <div class="card-body">

                            <input id="prescriptionId" class="form-control mb-3"
                                type="hidden"
                                asp-for="Id" disabled>

                            <label for="">Nome do Paciente: </label>
                            <input type="text" id="pacientName"
                                class="form-control
                                mb-3"
                                asp-for="PacientName" required>

                            <label for="">Nome do Médico: </label>
                            <input type="text" id="doctorName"
                                class="form-control mb-3"
                                asp-for="DoctorName" required>

                            <label for="">Data da consulta: </label>
                            <input type="date" id="dataAppoiment"
                                class="form-control
                                mb-3"
                                asp-for="DateOfMedicalAppoiment" required>
                        </div>

                    </div>

                    <div class="card medicine-card">

                        <h5 class="card-header">Medicações :</h5>

                        <div class="card-body">

                            <p class="ml-3">Salve a receita para inserir
                                medicamentos.</p>

                            <button target type="button" title="Salve a receita
                                para adicionar medicamentos." class="btn btn-md
                                btn-info btn-printer medic-btn ml-3" disabled>
                                <span class="material-symbols-outlined"> syringe
                                </span> Adicionar Medicamentos </button>

                        </div>

                    </div>

                    <button type="submit" title="Gerar Receita" class="btn
                        btn-md btn-secondary btn-printer"> <span
                            class="material-symbols-outlined"> save </span>
                        Salvar </button>

                </form>

            </div>
        </div>

    </div>


</div>