* {
  font-family: "K2D";
  margin: 0%;
  padding: 0%;
}

.main-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100vh;
  margin-bottom: 7%;
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  flex-wrap: wrap-reverse;
}

.botao {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 0%;
}

.btn-receita {
  width: 61vh;
  height: 10vh;
  font-size: 3vh;
}

.btn-receita-dropdown {
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 61vh;
  height: 10.8em;
  background-color: #0063ccd2;
  color: #fff;
}

.btn-receita-dropdown a {
  display: flex;
  align-items: center;
  font-size: 1em;
}

.btn-receita-dropdown span {
  font-size: 2em;
  margin-right: 2%;
}

.btn-receita-dropdown a {
  color: #fff;
  text-align: justify;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
  background-color: #000;
}

.card-index {
  width: 45em;
  opacity: 75%;
  margin-top: 2%;
  margin-bottom: 5%;
  border-radius: 2%;
  background-color: #d3d4d4;
}

.contact a {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
}

.contact span {
  margin-right: 5%;
}

.contact a:hover {
  text-decoration: none;
  transform: translateY(-3px);
  transition: ease-in-out 0.5s;
  text-shadow: -5px 0px 5px rgba(255, 255, 255, 0.7);
}

.contact a:first-child {
  display: block;
  flex-direction: row;
  align-items: center;
}

.contact a:first-child:hover {
  text-decoration: none;
  transform: none;
  transition: none;
  text-shadow: none;
}

.contact span:hover {
  text-decoration: none;
  transform: translateY(-3px);
  transition: ease-in-out 0.5s;
  text-shadow: -5px 0px 5px rgba(255, 255, 255, 0.7);
}

.logotipo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.5%;
  text-shadow: -5px 0px 5px rgba(33, 33, 33, 0.7);
}

.logotipo a {
  color: #fff;
  margin-left: 5%;
}

.logotipo a:hover {
  text-decoration: none;
  transform: translateY(-3px);
  transition: ease-in-out 0.5s;
}

.logotipo img {
  width: 1.5em;
  height: 1.5em;
  margin: 0%;
  color: #fff;
}

.logotipo img:hover {
  transform: none;
  transition: none;
}

.medicament {
  margin-bottom: 10%;
}