.medicament {
    display: flex;
    justify-content: center;
    margin-bottom: 9%;
    margin-top: 5%;
    margin-bottom: 10%;
}

.medicament-form {
    margin-bottom: 10%;
}

.medicament-form input {
    width: 28em;
}

.medicament-form button {
    margin-left: 33%;
}